<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="application-name" content="Viblo"/>
        <meta property="og:site_name" content="Viblo Tools"/>
        <meta property="og:title" content="Viblo Tools"/>
        <meta
            property="og:description"
            content="Viblo Tools - Open source - Free service for technical knowledge sharing."
        />
        <meta
            name="keywords"
            content="Viblo, Viblo Tools, Viblo Atom Plugin, Viblo browswer extension, Viblo open source"
        />
        <title>{{ htmlWebpackPlugin.options.title }}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Vidaloka"/>
        <script
            defer
            src="https://use.fontawesome.com/releases/v5.0.11/js/brands.js"
            integrity="sha384-Hai+A71t/Jjo/4Lle5NLmtYPygJxVEYkb33r+AiXLkFN6/xF31+zTykiGTxVNmxh"
            crossorigin="anonymous"></script>
        <script
            defer
            src="https://use.fontawesome.com/releases/v5.0.11/js/fontawesome.js"
            integrity="sha384-KPnpIFJjPHLMZMALe0U04jClDmqlLhkBM6ZEkFvs9AiWRYwaDXPhn2D5lr8sypQ+"
            crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="viblo">
            {{> partials/site/navbar }}
            {{> partials/site/summary }}
            {{> partials/browser-extension/introduction }}
            {{> partials/atom-plugin/introduction }}
            {{> partials/site/footer }}
            {{> partials/site/google-analytics }}
        </div>
    </body>
</html>
