.viblo-section {
    display: flex;
    min-height: 100vh;
    width: 100%;
    &--no-height {
        min-height: inherit;
    }
    &__title {
        font-family: 'Vidaloka', sans-serif;
        font-size: 5rem;
        font-weight: bold;
        letter-spacing: -2px;
        margin-bottom: 2rem;
        margin-top: 5rem;
        @include media-breakpoint-down(xs) {
            font-size: 2.5rem;
        }
        @include media-breakpoint-up(xs) {
            font-size: 4rem;
        }
    }
    &__description {
        margin-bottom: 2rem;
    }
}

.refs {
    .refs__item {
        font-size: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        text-decoration: none;
        .fa-chrome {
            color: rgb(65, 132, 238);
        }
        .fa-github {
            color: rgb(54, 54, 54);
        }
        img {
            max-height: 1.9rem;
            position: relative;
            top: -2px;
        }
    }
}
