<section class="viblo-section viblo-section--no-height viblo-poster flex-center">
    <a
        href="https://github.com/viblo-asia"
        target="_blank"
    >
        <img
            src="~/assets/images/viblo-open-source.png"
            alt="Viblo Open Source"
        />
    </a>
</section>
