<div class="row">
    <div class="col-md-12">
        <div class="atom-plugin-preview">
            <div id="atom-plugin-preview" class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="item">
                            <img
                                class="item__image"
                                src="~/assets/images/viblo-atom-plugin/atom-05.png"
                                alt="Viblo atom plugin - Quick install Viblo Atom Plugin"
                            />
                            <div class="item__body">
                                <h4 class="title">Quick install Viblo Atom Plugin</h4>
                                <p>
                                    - Press <strong>Ctrl/Cmd + Shift + P</strong> in Atom, type <strong>Install
                                                                                                        packages</strong>
                                    <br>
                                    - Click on <strong>Settings View:Install Packages and Themes.</strong> <br>
                                    - Finally, type <strong>Viblo</strong> and then install it.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <img
                                class="item__image"
                                src="~/assets/images/viblo-atom-plugin/atom-04.png"
                                alt="Viblo atom plugin - Modify your posts with Atom"
                            />
                            <div class="item__body">
                                <h4 class="title">Modify and preview your posts</h4>
                                <p>
                                    - Write or modify your post with markdown syntax on your computer. <br>
                                    - Preview your contents as Viblo style. <br>
                                    - Publish post from already markdown file to Viblo.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <img
                                class="item__image"
                                src="~/assets/images/viblo-atom-plugin/atom-03.png"
                                alt="Viblo atom plugin - Manage your gallery"
                            />
                            <div class="item__body">
                                <h4 class="title">Manage your gallery</h4>
                                <p>
                                    Upload your images from Atom to Viblo, <br>
                                    or delete your uploaded images.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <img
                                class="item__image"
                                src="~/assets/images/viblo-atom-plugin/atom-01.png"
                                alt="Viblo atom plugin - Get your posts"
                            />
                            <div class="item__body">
                                <h4 class="title">Get your posts</h4>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <img
                                class="item__image"
                                src="~/assets/images/viblo-atom-plugin/atom-02.png"
                                alt="Viblo atom plugin - Get your Drafts"
                            />
                            <div class="item__body">
                                <h4 class="title">See your drafts</h4>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>
