<div class="row">
    <div class="col-md-12">
        <div class="atom-plugin-preview">
            <div id="atom-plugin-preview" class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="item">
                            <img
                                src="~/assets/images/viblo-atom-plugin/atom-01.png"
                                alt="Viblo atom plugin - Manage posts"
                            />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <img
                                src="~/assets/images/viblo-atom-plugin/atom-02.png"
                                alt="Viblo atom plugin - Manage Drafts"
                            />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <img
                                src="~/assets/images/viblo-atom-plugin/atom-03.png"
                                alt="Viblo atom plugin - Manage Gallery"
                            />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <img
                                src="~/assets/images/viblo-atom-plugin/atom-04.png"
                                alt="Viblo atom plugin - Write posts"
                            />
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="item">
                            <img
                                src="~/assets/images/viblo-atom-plugin/atom-05.png"
                                alt="Viblo atom plugin - Login"
                            />
                        </div>
                    </div>
                </div>
                <!-- Arrows -->
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <!-- Add Pagination -->
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</div>
