<section class="viblo-section viblo-section--no-height viblo-atom-plugin">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="viblo-section__title text-center">
                    Viblo Atom Plugin
                </h2>
                <p class="viblo-section__description text-center">
                    Atom is a free IDE - A hackable text editor for the 21st Century. <br/>
                    It's open source and developed by Github. <br/>
                    Now, Viblo is available on Atom.
                </p>
            </div>
        </div>

        {{> atom-preview }}
    </div>
</section>
