.viblo-atom-plugin {
    background: rgb(55, 53, 54);
    color: $white;
    margin-bottom: 12rem;
    width: 100%;
    .viblo-section__title {
        color: rgb(249, 215, 78)
    }
}

.atom-plugin-preview {
    margin-bottom: -10rem;
    margin-top: 2rem;
    width: 100%;
    .swiper-slide, .swiper-wrapper {
        background: transparent !important;
    }

    .swiper-slide {
        /* Center slide text vertically */
        align-items: center;
        -webkit-align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -ms-flex-align: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-justify-content: center;
        -webkit-box-pack: center;
        -webkit-box-align: center;
    }

    .item {
        background: rgb(44, 48, 55);
        position: relative;
        width: 100%;
        @extend .flex-center;
        &__image {
            filter: opacity(0.2);
            -webkit-filter: opacity(0.2);
            max-width: 100%;
        }
        &__body {
            background: rgba(0, 0, 0, 0.8);
            border: solid 0.4rem;
            color: $white;
            display: block;
            padding: 1rem 3rem;
            position: absolute;
            .title {
                font-weight: bold;
            }
            p {
                margin-top: 1.5rem;
                margin-bottom: 0;
            }
        }
    }
}

.atom-install-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: normal;
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
}
