$image-height: 360px;
$center-height: 40px;

.viblo-browswer-extension {
    background: $white;
    padding-bottom: 3rem;
    &__features {
        margin-top: -3rem;
        position: relative;
        z-index: 400;
    }
    &__preview {
        overflow-x: hidden;
    }
}

.extension-images-wrapper {
    margin-bottom: 0;
    margin-top: 3rem;
    width: 100%;
}

.extension-images {
    background: transparent;
    position: relative;
    z-index: 100;
    @extend .d-flex;
    .item {
        img {
            height: $image-height;
            width: auto;
        }
        &--highlight img {
            box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.5);
            -moz-box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.5);
            -webkit-box-shadow: 0 -4px 4px 0 rgba(0, 0, 0, 0.5);
            height: $image-height + $center-height;
            position: relative;
            top: -$center-height;
            width: auto;
        }
    }

    @media screen and (max-width: 320px) {
        .item {
            img {
                max-height: $image-height - 100px;
            }
            &--highlight img {
                max-height: $image-height + $center-height - 100px;
            }
        }
    }
}

.extension-images:after {
    background: linear-gradient(transparent, $white);
    bottom: $center-height;
    content: '';
    display: block;
    height: 40%;
    left: 0;
    margin-bottom: 0;
    position: absolute;
    width: 100%;
}

.btn-get-extension {
    background: $primary;
    border: none;
    border-radius: 100px;
    color: $white;
    font-size: 1.125rem;
    padding: 0.825rem 3rem;
    &:hover {
        background: lighten($primary, 10);
        color: $white;
    }
}
