.viblo-poster {
    background: url('https://images.viblo.asia/d4d8e1bf-29ed-4d47-baab-970b259bf449.png') no-repeat left center;
    background-size: cover;
    height: calc(100vh - 60px);
    -webkit-background-size: cover;
}
