.viblo-summary {
    background: radial-gradient(circle at right bottom, rgb(57, 117, 183) 0px, rgb(87, 150, 204) 100%);
    height: calc(100vh - 60px);
    margin: 0;
    overflow: hidden;
    position: relative;
    z-index: -1;
    &__content {
        color: $white;
        max-width: 24rem;
        &__title {
            font-family: 'Vidaloka', sans-serif;
            font-size: 5rem;
            font-weight: bold;
            letter-spacing: -2px;
            margin-top: 0.5rem;
            text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.5);
        }
        &__description {
            color: rgb(197, 218, 239);
            font-size: 1rem;
            line-height: 2;
        }
        .arrow-bottom {
            border: 0.3rem solid;
            border-color: $white transparent transparent $white;
            cursor: pointer;
            height: 3rem;
            transform: rotate(-135deg);
            width: 3rem;
            -webkit-box-shadow: -4px -3px 3px 0 rgba(0, 0, 0, 0.5);
            -moz-box-shadow: -4px -3px 3px 0 rgba(0, 0, 0, 0.5);
            box-shadow: -4px -3px 3px 0 rgba(0, 0, 0, 0.5);
        }
    }

    &__tools {
        position: absolute;
    }
}
