<footer class="viblo-footer">
    <div class="container">
        <div class="row">
            <div class="col-5 col-xl-6">
                <a
                    class="footer-brand"
                    href="https://viblo.asia"
                >
                    <img src="~/assets/images/logo_full.svg" alt="Viblo"/>
                    <span class="footer-brand__text">
                        Free service for technical knowledge sharing
                    </span>
                </a>
            </div>
            <div class="col-7 col-xl-6 text-right">
                <ul class="links">
                    <li>
                        <a href="https://accounts.viblo.asia/register" target="_blank">Sign up</a>
                    </li>
                    <li>
                        <a href="https://viblo.asia/terms">Terms</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
