<nav class="viblo-navigation viblo-navigation--shadow navbar navbar-light">
    <div class="container d-flex align-items-center justify-content-between">
        <a
            href="/"
            class="navbar-brand"
        >
            <img src="~/assets/images/logo_full.svg" alt="Viblo"/>
        </a>
    </div>
</nav>
