<section class="viblo-section viblo-browswer-extension">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="viblo-section__title text-center">
                    Chrome extension
                </h2>
                <div class="viblo-section__description flex-center">
                    <p>
                        With Viblo Chrome extension you get Viblo contents easy by 1 click.<br/>
                        See newest feed without web tab.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="extension-images-wrapper flex-center">
                <section class="extension-images">
                    <div class="item">
                        <img src="~/assets/images/viblo-chrome-extension/chrome-01.png" alt=""/>
                    </div>
                    <div class="item item--highlight">
                        <img src="~/assets/images/viblo-chrome-extension/chrome-02.png" alt=""/>
                    </div>
                    <div class="item">
                        <img src="~/assets/images/viblo-chrome-extension/chrome-03.png" alt=""/>
                    </div>
                </section>
            </div>
        </div>
        <div class="row features viblo-browswer-extension__features">
            <div class="feature col-md-5 offset-md-1">
                <h3 class="feature__title">
                    News feed
                </h3>
                <p class="feature__content">
                    Receive your Viblo notifications when have new posts or new notifications in realtime. Keep up the
                    latest article listing from Viblo.
                </p>
            </div>
            <div class="feature col-md-5">
                <h3 class="feature__title">
                    Quick Search
                </h3>
                <p class="feature__content">
                    The Quick Search from Address Bar allows you to search for information from Viblo by typing
                    "viblo" in the address bar and then pressing SPACE or TAB to start entering keywords.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="flex-center">
                    <a
                        class="btn btn-get-extension"
                        target="_blank"
                        href="https://chrome.google.com/webstore/detail/viblos-news-feed/mliahmjgdpkkicelofhbhgiidgljijmj"
                    >
                        Add to Chrome
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
