<section class="viblo-section viblo-browswer-extension">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="viblo-section__title text-center">
                    Chrome extension
                </h2>
                <div class="viblo-section__description flex-center">
                    <p>
                        With Viblo Chrome extension you get Viblo contents easy by 1 click.<br/>
                        See newest feed without web tab.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="extension-images-wrapper flex-center">
                <section class="extension-images">
                    <div class="item">
                        <img src="~/assets/images/viblo-chrome-extension/chrome-01.png" alt=""/>
                    </div>
                    <div class="item item--highlight">
                        <img src="~/assets/images/viblo-chrome-extension/chrome-02.png" alt=""/>
                    </div>
                    <div class="item">
                        <img src="~/assets/images/viblo-chrome-extension/chrome-03.png" alt=""/>
                    </div>
                </section>
            </div>
        </div>
        <div class="row viblo-browswer-extension__features">
            <div class="extension-feature-item col-md-5 offset-md-1">
                <h3 class="extension-feature-item__title">
                    News feed
                </h3>
                <p class="extension-feature-item__content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque deserunt ducimus nesciunt
                    reprehenderit. Accusamus aut beatae cumque, dolorum eum exercitationem, fugit illo in ipsa neque
                    quas quasi tempore voluptas.
                </p>
            </div>
            <div class="extension-feature-item col-md-5">
                <h3 class="extension-feature-item__title">
                    Quick Search
                </h3>
                <p class="extension-feature-item__content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cupiditate dicta dolorem error
                    et facilis fuga nihil, nulla officiis optio perferendis possimus quas quibusdam quidem rem sapiente
                    tempore vel veritatis!
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="flex-center">
                    <button class="btn btn-get-extension">
                        Add to Chrome
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
